.screen {
    -fx-background-color: ghostwhite;
    -fx-alignment: center;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

HBox, VBox {
    -fx-spacing: 10;
}

Button, TextField {
    -fx-focus-color: forestgreen;
}
