/*noinspection CssUnusedSymbol*/
.root {
    -fx-background-color: ghostwhite;
    -fx-alignment: center;
    -fx-font-size: 18px;
}

Button {
    -fx-content-display: top;
    -fx-focus-color: forestgreen;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}
